<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daily Tasker - Pending Orders</title>

    <link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="static/assets/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="static/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
 <style>
        .status-buttons {
            display: none;
            margin-top: 10px;
        }
        .status-buttons .btn {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>

<body id="page-top">

    <div id="wrapper">

        {% include 'header.html' %}
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <ul class="navbar-nav ml-auto">
                         <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">User</span>
                                <img class="img-profile rounded-circle" src="static/img/undraw_profile.svg">
                            </a>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Pending Orders </h6>
                        </div>
                      <div style="display: flex; justify-content: center; gap: 20px;">
    <div class="table-responsive" style="flex: 1;">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Image</th>
                    <th style="width: 30%;">Title</th>
                    <th>Quantity</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for item in pending_items[:half] %}
<tr data-statuses='{{ item.statuses | default({}) | tojson | safe }}'>

    <td>
        <img src="{{ item.item_image }}" width="75" height="75">
    </td>
    <td contenteditable="true" style="cursor:text;">
        {{ item.item_title }}
    </td>
    <td class="qty-cell" contenteditable="true" style="cursor:text; text-align: center;">
            {{ item.quantity }}

    </td>
    <td style="text-align:center;">
        <button onclick="this.closest('tr').style.display='none'" class="btn btn-sm btn-primary">
    &#10003;
</button>

    </td>
</tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive" style="flex: 1;">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Image</th>
                    <th style="width: 30%;">Title</th>
                    <th>Quantity</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for item in pending_items[half:] %}
<tr data-statuses='{{ item.statuses | default({}) | tojson | safe }}'>

    <td>
        <img src="{{ item.item_image }}" width="75" height="75">
    </td>
    <td contenteditable="true" style="cursor:text;">
        {{ item.item_title }}
    </td>
        <td class="qty-cell" contenteditable="true" style="cursor:text; text-align: center;">
            {{ item.quantity }}

    </td>

    <td style="text-align:center;">
        <button onclick="this.closest('tr').style.display='none'" class="btn btn-sm btn-primary">
    &#10003;
</button>

    </td>
</tr>

                {% endfor %}
            </tbody>
        </table>

    </div>


</div>
<div class="mb-3 d-flex justify-content-between">
    <div>
        <button class="btn btn-warning" onclick="hideBooked()">Hide BOOKED</button>
        <button class="btn btn-info" onclick="filterBooked()">Filter BOOKED</button>
        <button class="btn btn-secondary" onclick="resetView()">Reset</button>
    </div>
    <div>
        <button class="btn btn-dark mr-2" onclick="bulkPrintLabels()">Bulk Print Labels</button>
        <button class="btn btn-success" onclick="bookSelectedWithPostEx()">Book via PostEx</button>
    </div>
</div>



                        <div style="overflow-x:auto;" class="card-body">
                            <div class="table-responsive">

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th><input type="checkbox" id="selectAll"></th>
            <th>Order#</th>
            <th>Total</th>
            <th>Total Items</th>
            <th style="display: none;">Hidden</th>
            <th style="display: none;">Hidden</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Order#</th>
            <th>Total</th>
            <th>Total Items</th>
            <th style="display: none;">Hidden</th>
            <th style="display: none;">Hidden</th>
        </tr>
    </tfoot>
    <tbody>
        {% for order in all_orders %}
            <tr>
                <td style="text-align: center; vertical-align: middle;">
    {% set tracking_num = 'N/A' %}
    {% if order.tracking_number and order.tracking_number != 'N/A' %}
        {% set tracking_num = order.tracking_number %}
    {% elif order.items_list and order.items_list[0].tracking_number != 'N/A' %}
        {% set tracking_num = order.items_list[0].tracking_number %}
    {% endif %}

    <input type="checkbox" class="order-checkbox" value="{{ order.order_id }}" data-tracking="{{ tracking_num }}">
</td>
                <td>{{ order.order_via }} <br> <a href="{{order.order_link}}"><p>{{ order.order_num }}</p></a> <br>{{ order.date }}</td>
                <td>{{ order.total_price }}</td>
                <td>
                    <table class="table table-sm nested-table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th style="width: 30%;">Title</th>
                                <th style="width: 5%;">Quantity</th>
                                <th style="width: 20%;" >Tracking</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.items_list %}
                                <tr>
                                    <td><img src="{{ item.item_image }}" width="100" height="100"></td>
                                    <td>{{ item.item_title }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>
                                        {% if item.tracking_number != 'N/A' %}
                                            <a href="track/{{ item.tracking_number }}" target="_blank">{{ item.tracking_number }}</a>
                                        {% else %}
                                            N/A
                                        {% endif %}
                                        <br>
                                        {{ item.status }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


                            </div>
                        </div>
                    </div>
 <div class="totals">
    <p>Total Items: <span id="totalItems">0.00</span></p>
    <p>Total Value: <span id="totalValue">0.00</span></p>
</div>
                </div>
                </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            </div>
        </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="static/assets/js/sb-admin-2.min.js"></script>

    <script src="static/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="static/assets/js/demo/datatables-demo.js"></script>
    <script src="static/assets/js/track.js"></script>

<script>
    $(document).ready(function() {
        if ($.fn.DataTable.isDataTable('#dataTable')) {
            $('#dataTable').DataTable().destroy();
        }

        // Initialize the DataTable
        $('#dataTable').DataTable({
            "columnDefs": [
                { "searchable": false, "targets": [-1, 4] },
                { "orderable": false, "targets": 0 } // Disable sorting on checkbox column
            ]
        });

        // Select All functionality
        $('#selectAll').click(function() {
            var checked = this.checked;
            $('.order-checkbox').each(function() {
                this.checked = checked;
            });
        });
    });

    // Function to handle Booking
    function bookSelectedWithPostEx() {
        var selectedIds = [];
        $('.order-checkbox:checked').each(function() {
            selectedIds.push($(this).val());
        });

        if (selectedIds.length === 0) {
            alert('Please select at least one order to book.');
            return;
        }

        // Redirect to the prep page with IDs as query params or via a hidden form
        // Using a hidden form is safer for large lists
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/prepare_postex_booking'; // New Route

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'order_ids';
        input.value = JSON.stringify(selectedIds);
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }
</script>
<script>
     var table = $('#dataTable').DataTable();

function updateTotals() {
    var filteredData = table.rows({ filter: 'applied' }).nodes(); // get DOM nodes
    var totalItems = 0;
    var totalValue = 0;

    filteredData.each(function (row) {
        // Get the total column value (index 2)
        var amount = parseFloat($(row).find('td:eq(2)').text().replace(/,/g, '')) || 0;
        totalValue += amount;

        // Count quantities
        $(row).find('td:eq(3) table tbody tr').each(function () {
            var qtyText = $(this).find('td').eq(2).text().trim();
            var qty = parseInt(qtyText) || 0;
            totalItems += qty;
        });
    });

    $('#totalItems').text(totalItems);
    $('#totalValue').text(totalValue.toFixed(2));
}

    updateTotals();

function hideBooked() {
    document.querySelectorAll('tr[data-statuses]').forEach(row => {
        const statusData = JSON.parse(row.getAttribute('data-statuses'));
        let visibleQty = 0;
        for (const [status, qty] of Object.entries(statusData)) {
            // Updated to handle PostEx 'Booked' status as well
            if (status !== 'CONSIGNMENT BOOKED' && status !== 'Booked') {
                visibleQty += qty;
            }
        }
        const qtyCell = row.querySelector('.qty-cell');
        if (qtyCell) qtyCell.textContent = visibleQty;
        row.style.display = visibleQty === 0 ? 'none' : '';
    });
}

function filterBooked() {
    document.querySelectorAll('tr[data-statuses]').forEach(row => {
        const statusData = JSON.parse(row.getAttribute('data-statuses'));
        // Updated to handle PostEx 'Booked' status as well
        const bookedQty = (statusData['CONSIGNMENT BOOKED'] || 0) + (statusData['Booked'] || 0);
        const qtyCell = row.querySelector('.qty-cell');
        if (qtyCell) qtyCell.textContent = bookedQty;
        row.style.display = bookedQty === 0 ? 'none' : '';
    });
}

function resetView() {
    document.querySelectorAll('tr[data-statuses]').forEach(row => {
        const statusData = JSON.parse(row.getAttribute('data-statuses'));
        let totalQty = 0;
        for (const qty of Object.values(statusData)) {
            totalQty += qty;
        }
        const qtyCell = row.querySelector('.qty-cell');
        if (qtyCell) qtyCell.textContent = totalQty;
        row.style.display = '';
    });
}

    // --- Bulk Print Function ---
    function bulkPrintLabels() {
        var trackingNumbers = [];

        // 1. Gather tracking numbers from checked boxes
        $('.order-checkbox:checked').each(function() {
            var tracking = $(this).data('tracking');
            // Ensure tracking is valid (not N/A, not empty)
            if (tracking && tracking !== 'N/A' && tracking !== 'None') {
                trackingNumbers.push(tracking);
            }
        });

        if (trackingNumbers.length === 0) {
            alert('No booked orders selected. Please select orders that have a Tracking Number.');
            return;
        }

        // 2. Process in chunks of 10 (PostEx API Limit)
        var chunkSize = 10;
        for (var i = 0; i < trackingNumbers.length; i += chunkSize) {
            var chunk = trackingNumbers.slice(i, i + chunkSize);
            var trackingStr = chunk.join(',');

            // 3. Open Print Route in new window/tab
            window.open('/print_labels?tracking_numbers=' + trackingStr, '_blank');
        }
    }
</script>

</body>
</html>